<span class="elastic-term">
  <select data-ng-model="rule.subType" data-ui-select2="uiSelectOptions">
    <!-- Term Options -->
    <optgroup label="Texto">
      <option value="equals">Igual</option>
      <option value="notEquals">Diferente</option>
      <option value="prefix">Come&ccedil;a</option>
      <option value="contains">Cont&eacute;m</option>
    </optgroup>

    <!-- Generic Options -->
    <optgroup label="Gen&eacute;rico">
      <option value="exists">Existe</option>
      <option value="notExists">N&atilde;o existe</option>
    </optgroup>

  </select>
  <input class="form-control" type="text" data-ng-if="inputNeeded()"
   data-ng-model="rule.value" />
</span>
